@model MvvmTools.Web.Models.MvvmTemplateCategory

@{
    ViewBag.Title = "Delete Template Category";
}

<div class="pageheader">
	<h1>@ViewBag.Title</h1>
	<p class="description">Are you sure you want to delete this template category?</p>
</div>

<section id="main-content">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" style="margin-right: 5px" />
                <button class="btn" onclick="window.history.back();">Cancel</button>
            </div>
        }
    </div>
</section>