@model MvvmTools.Web.Models.MvvmTemplateCategory

@{
    ViewBag.Title = "Details";
}

<div class="pageheader">
	<h1>@ViewBag.Title</h1>
</div>


<section id="main-content">
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
	<button class="btn btn-default" onclick="window.history.back();">Back to List</button>
</p>
</section>