@{
    ViewBag.Title = "Home";
}

<div class="pageheader">
    <h1>MVVM Tools</h1>
    <p class="description">A Visual Studio extension supporting XAML and MVVM development.  MVVM Tools is <strong>not</strong> another MVVM toolkit; it <strong>is</strong> toolkit agnostic.</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
    </div>
</div>
<section id="main-content">
    <h2>Getting Started</h2>
    <p>
        MVVM Tools is available in Visual Studio 2015 or later via Tools &gt; Extensions and Updates, or on the <a href="https://visualstudiogallery.msdn.microsoft.com/978ed555-9f0d-44a2-884c-9084844ac469">Visual Studio Gallery</a>.
    </p>
    <p/>
    <h2>Source Code</h2>
    <p>
        Source code is available at <a href="https://github.com/cbordeman/Mvvm-Tools">GitHub</a>, released under the <a href="http://www.apache.org/licenses/">latest Apache License</a> by Chris Bordeman.
    </p>
    <p/>
    <h2>Issues and Discussions</h2>
    <p>Please direct all discussions to the <a href="https://github.com/cbordeman/Mvvm-Tools/issues">GitHub Issues Page</a>.
    </p>
    <p/>
    <h2>Features</h2>
    <ul>
        <li>Press Ctrl+E,V to switch between your view and view model.</li>
        <li>Ability to configure the location of views and view models base on the selected project. This allows different modules to use different MVVM schemes.</li>
        <li>Ability to scaffold new views and view models based on your MVVM configuration and a selected template.</li>
        <li>Access to View + View Model templates maintained by the community.</li>
        <li>Your team can also maintain a set of templates in a local folder as a set of .tpl files.</li>
    </ul>
</section>
