@model HandleErrorInfo

<div class="pageheader">
    <h1 class="text-danger">404 Not Found</h1>
</div>

<section id="main-content">
    <div class="text">
        <h2>Possible Causes</h2>
        <hr>
        <ul class="ul-no-list-style">
            <li>
                <span>
                    <strong>Baptist explanation: </strong>There
                    must be sin in your life. Everyone else opened it fine.<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Presbyterian explanation: </strong>It's
                    not God's will for you to open this link.<br>
                </span>
            </li>
            <li>
                <span>
                    <strong> Word of Faith explanation:</strong>
                    You lack the faith to open this link. Your negative words have prevented
                    you from realizing this link's fulfillment.<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Charismatic explanation: </strong>Thou
                    art loosed! Be commanded to OPEN!<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Unitarian explanation:</strong> All
                    links are equal, so if this link doesn't work for you, feel free to
                    experiment with other links that might bring you joy and fulfillment.<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Buddhist explanation:</strong> .........................<br>
                </span>
            </li>
            <li>
                <span >
                    <strong>Episcopalian explanation:</strong>
                    Are you saying you have something against homosexuals?<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Christian Science explanation: </strong>There
                    really is no link.<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Atheist explanation: </strong>The only
                    reason you think this link exists is because you needed to invent it.<br>
                </span>
            </li>
            <li>
                <span>
                    <strong>Church counselor's explanation:</strong>
                    And what did you feel when the link would not open?
                </span>
            </li>
        </ul>

    </div>
</section>