@{
    ViewBag.Title = "Confirm Email";
}
<div class="pageheader">
    <h1>@ViewBag.Title.</h1>
    <div>
        <p>
            Thank you for confirming your email. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"}) to log in.
        </p>
    </div>
</div>
