@{
    ViewBag.Title = "Login Failure";
}

<div class="pageheader">
    <hgroup>
        <h1>@ViewBag.Title</h1>
        <p class="description text-danger">Unsuccessful login with service.</p>
    </hgroup>
</div>