@{
    ViewBag.Title = "Login Failure";
}

<div class="pageheader">
    <hgroup>
        <h1>@ViewBag.Title.</h1>
        <h2 class="text-danger">Unsuccessful login with service.</h2>
    </hgroup>
</div>