@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="pageheader">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
</div>

<section id="main-content">
    <div>
        <p>
            Your password has been reset. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to log in.
        </p>
    </div>
</section>
