<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net451" />
  <package id="CommonServiceLocation" version="1.0.0" targetFramework="net45" />
  <package id="DynamicDataDisplayWpf" version="0.4.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.5" targetFramework="net451" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net45" />
  <package id="LiveSDKHelper" version="0.1.0.8" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Imaging" version="14.0.22823-RC" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Project" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.0.50430-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.0.22823-RC" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.0.22823-RC" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30319" targetFramework="net451" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="11.0.50727" targetFramework="net451" />
  <package id="Microsoft.VisualStudio.Threading" version="14.0.50522-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.0.23107" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.50417-pre" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
</packages>